#btn_click:hover{
   background-color: red;
   color: white;

}

#btn_click:active{
   background-color: pink;
   color: red;
}


#btn_click{
   /* display: block;
   margin: auto;
   width: 50vw; */
}

/* div{
    text-align: center;
} */



.navbar{
   background-color: red;
}

.main{
   position: relative;
   left: 50px;
   background-color: blue;
}

.articles{
   position: absolute;
   top: 0px;
   background-color: green;
}

.footer{
   position: fixed;
   width: 100vw;
   background-color: yellow;
   top: 0px;
}

.Pai{
   margin-top: 100px;
   position: relative;
   background-color: aquamarine;
}