* {
   margin: 0
}

.header{
   position: sticky;
   top: 0px;
   height: 10vh;
   background-color: aquamarine;
}

.main{
   margin: 0 10vw;
   background-color: azure;
}


.footer{
   position: sticky;
   bottom: 0px;
   background-color: red;
}

